body {
    background: #eef1f7;
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    background: white;
    padding: 30px;
    width: 500px;
    border-radius: 18px;
    box-shadow: 0 10px 35px rgba(0,0,0,0.08);
}

textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 15px;
}

button {
    margin-top: 20px;
    background: linear-gradient(135deg,#6a11cb,#2575fc);
    border: none;
    color: white;
    padding: 12px;
    width: 100%;
    border-radius: 25px;
    cursor: pointer;
}
