body {
    background: linear-gradient(135deg,#dfe9f3,#ffffff);
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-box {
    background: white;
    padding: 35px;
    width: 480px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

input, textarea {
    width: 100%;
    padding: 14px;
    margin-top: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

button {
    margin-top: 25px;
    background: black;
    color: white;
    padding: 12px;
    width: 100%;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
