body {
    background: linear-gradient(135deg,#fdfbfb,#ebedee);
    font-family: Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: white;
    padding: 35px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

.card h2 {
    margin-bottom: 10px;
}

.id {
    color: #999;
    font-size: 13px;
}

.content {
    margin: 20px 0;
    color: #555;
}

.back {
    text-decoration: none;
    color: #2575fc;
    font-weight: 500;
}
